/* portofolio/src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap');

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Default base font size, 1rem = 16px */
}

body {
  font-family: 'Kanit', sans-serif; /* Gunakan font Kanit */
  line-height: 1.6;
  background-color: #f8faff; /* Latar belakang mirip Figma Anda */
  color: #333;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Responsivitas global untuk body padding-top */
@media (max-width: 768px) {
  body {
    padding-top: 70px; /* Kurangi padding untuk Navbar yang lebih ramping di mobile */
  }
}